# API
PORT=3003
MONGO_DB_URL=mongodb://mongo:27017/bitfilmsdb
JWT_SECRET=change-me
NODE_ENV=production

# Web build
VITE_API_BASE_URL=/api
VITE_MOVIES_API_URL=https://api.nomoreparties.co/beatfilm-movies
