.search__form {
  display: flex;
  grid-area: form;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: var(--color-grey);
}
  
.search__input {
  width: 100%;
  padding: 25px 25px 25px 65px;
  color: var(--color-black);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-radius: 8px;
  background: url('../../images/search.svg') no-repeat left;
  background-size: 22px;
  background-position: 25px;
}
  
.search__input::placeholder {
  color: var(--color-ground);
}
  
.search__input_active {
  color: var(--color-red);
}
  
.search__input_error {
  padding-top: 5px;
  display: none;
  color: var(--color-red);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
  
.search__error_active {
  display: flex;
}
  
.search__button {
  width: 34px;
  height: 34px;
  padding-left: 46px;
  padding-right: 30px;
  border: none;
  box-sizing: border-box;
  border-right-color: var(--color-darkgrey);
  border-right-style: solid;
  border-right-width: 1px;

  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}
  
@media screen and (max-width: 920px) {
  .search__input {
    font-size: 13px;
    line-height: 18px;
  }
  .search__button {
    padding-right: 19px;
  }
}
  
@media screen and (max-width: 620px) {
  .search__form {
    border-radius: 9px;
  }  
  .search__input {
    font-size: 14px;
    line-height: 20px;
    background: none;
    padding-left: 19px;
  }
  .search__button {
    border: none;
    padding-right: 19px;
  }
}